<html>
<head>
  <style>

body {
  background-color: powderblue;
}

h2 {
  color: black;
  font-family: Helvetica;
  font-size: 200%;
  text-align: center
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

</style>
</head>

<% if @birth_date == @today_date && @birth_month == @today_month %>
  <h2>Happy birthday <%= @name %>!</h2>
<% elsif %>
  <% @birthday = Date.new(2019, @birth_month, @birth_date) %>
  <% @date = DateTime.now %>
  <% @day_count = @birthday - @date %>
    <% if @day_count < 0
          @new_day_count = @day_count + 366 %>
          <h2><%= @name %>, your birthday is in <%= @new_day_count.to_i %> days!</h2>
    <% else %>
      <h2><%= @name %>, your birthday is in <%= @day_count.to_i %> days!</h2>
    <% end %>
<% end %>

</html>
